<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc.xsd"
>
	<!-- @Service, @Repository애노테이션을 붙혀진 클래스를 빈으로 등록 -->
	<context:component-scan base-package="service, repository">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<!-- 의존 객체 자동 주입 -->
	<context:annotation-config />
	<!-- @Controller -->
	<mvc:annotation-driven />
	<!-- root 설정 -->
	<mvc:default-servlet-handler/>
	<mvc:view-resolvers>
		<mvc:jsp prefix="/WEB-INF/board/"/>
		<mvc:jsp suffix=".jsp"/>
	</mvc:view-resolvers>
</beans>
