<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
$(function(){
	$("#btn").click(function(){
		var formData = new FormData($("#frm")[0]);
		$.ajax({
			url:"goodsWrite",
			type:"post",
			data:formData,
			enctype:"multipart/form-data",
			contentType : false,
			processData : false,
			success:function(result){
				if(result.trim() == 200){
					location.href="goodsList";
				}else{
					$("#writeForm").html(result);
				}
			},
			error:function(){
				alert("로그인을 다시 시도해 주세요.")
				location.href="/";
			}
		});
	});
});
</script>
</head>
<body>
<form action="goodsWrite" method="post" th:object="${goodsCommand}" id = "frm" 
		enctype="multipart/form-data">
<table border = "1" width ="600" align="center">
	<tr><th width="100">상품번호</th>
		<td><input type="text" name="goodsNum" th:value="${goodsCommand.goodsNum}" readonly="readonly"/></td></tr>
	<tr><th>상품명</th>
		<td><input type="text" name="goodsName" th:value="${goodsCommand.goodsName}"/><br />
		<span style="color:red" th:if="${#fields.hasErrors('goodsName')}" th:errors="*{goodsName}"></span></td></tr>
	<tr><th>상품가격</th>
		<td><input type="number" name="goodsPrice" min="0" th:value="${goodsCommand.goodsPrice}"/><br />
		<span style="color:red" th:if="${#fields.hasErrors('goodsPrice')}" th:errors="*{goodsPrice}"></span></td></tr>
	<tr><th>배송비</th>
		<td><input type="number" name="deliveryCost" min="0" max="5000" step="50"  th:value="${goodsCommand.deliveryCost}"/><br />
		<span style="color:red" th:if="${#fields.hasErrors('deliveryCost')}" th:errors="*{deliveryCost}"></span></td></tr>
	<tr><th>상품설명</th>
		<td><textarea rows="10" cols="50" name="goodsContent" >[[${goodsCommand.goodsContent}]]</textarea><br />
		<span style="color:red" th:if="${#fields.hasErrors('goodsContent')}" th:errors="*{goodsContent}"></span></td></tr>
	<tr><th>대문이미지</th>
		<td><input type="file" name="goodsMainStore" />
			<br /><span style="color:red" th:if="${#fields.hasErrors('goodsMainStore')}" 
										th:errors="*{goodsMainStore}"></span></td>
		</tr>
	<tr><th>이미지</th>
		<td><input type="file" name="goodsImages" multiple="multiple"/></td>
		</tr>
	<tr><th colspan="2">
					<!-- <input type="submit"  value="상품등록" />-->
						<input type="button" id="btn" value="ajax로 등록" /></th></tr>
</table>
</form>
</body>
</html>