<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table width="800" align = "center">
	<tr><td><h1>상세보기</h1></td></tr>
</table>
<hr />
구매상품 정보<br />
<table width="800" align = "center">
	<tr>
		<td>이미지</td>
		<td>제품가격 | 주문수량 | 주문금액 | 배송비</td>
	</tr>
	<tr>
		<td colspan="2"><b>상품설명</b><br /> 설명내용</td>
	</tr>
	<tr>
		<td width=400>
			<h2>주문내용</h2>
			 주문번호 : <br />
			 주문날짜 : <br />
			 주문금액 : <br />
			 배송지 : <br />
			 연락처 : <br />
			 받는사람 : <br />
			 주문메세지 : <br />
		</td>
		<td width=400>
			<h2>결제내용</h2>
			<div>
			 결제번호 : <br />
			 결제방법 : <br />
			 결제금액 : <br />
			 결제 일 : <br />
			 카드번호 : <br />
			 </div>
			 <div>결제 정보가 없습니다.</div>
		</td>
	</tr>
</table>
<table width="800" align = "center">
	<tr><td colspan="2">배송정보</td></tr>
	<tr><td>택배사</td><td></td></tr>
	<tr><td>송장번호</td><td></td></tr>
	<tr><td colspan="2"><input type="button" value="배송정보삭제" id="btn" /></td></tr>
</table> 
<table width="800" align = "center">
	<tr><td colspan="2">배송정보입력</td></tr>
	<tr><td>배송회사</td>
		<td><select name="deliveryCompany">
				<option>한진택배</option>
				<option>대한통운택배</option>
				<option>우체국택배</option>
			</select></td>
	</tr>
		<tr><td>송장번호</td>
		<td><input type="text" name="deliveryNumber"/></td></tr>
	<tr><td colspan="2">
		<input type="submit" value="배송정보등록"/>
		</td></tr>
</table>
</body>
</html>