<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script 
src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script>
$(function(){
	$("#frm").submit(function(){
		if($("#memberPw").val() == ""){
			alert("비밀번호를 입력해주세요.");
			$("#memberPw").focus();
			return false;
		}else{
			conf = confirm("정말 사실 리얼 진짜 탈퇴하시겠습니까?");
			if(!conf){
				return false;
			}
		}
	});
});
</script>
</head>
<body>
회원 탈퇴<br />
<ul>
	<li><a href="myDetail">내정보 보기</a></li>
	<li><a href="memberUpdate">내정보 수정</a></li>
	<li><a href="userPwModify">비밀번호변경</a></li>
	<li><a href="memberDrop">회원탈퇴</a></li>
	<li><a href="/">홈</a></li>
</ul>
<form action="memberDropOk" method="post"  name="frm" id="frm">
	비밀번호 : <input type="password" id="memberPw" name="memberPw" />
	<input type="submit" value="회원탈퇴" />
	<div style="color:red">[[${errPw }]]</div>
</form>
</body>
</html>