<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>goodsIpgoList.html</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$.ajax({
		type:"post",
		url:"goodsIpgoList",
		datatype: "json",
		success:function(result){ // ModelAndView
			var item = "";
				item +='<table width=600 border=1>';
				item +='	<tr><th>번호</th><th>상품 번호</th><th>수량</th><th>입고일</th><th>가격</th></tr>';
				item +='	<tr>';
				item +='		<th>idx.index + 1</th><th>dto.goodsNum</th>';
				item +='        <th>dto.ipgoQty</th>';
				item +='		<th>dto.ipgoDate</th><th>dto.ipgoPrice</th>';
				item +='    </tr>';
				item +='</table>';
			$("#list").html(item);
		},
		error:function(){
			alert("서버오류");
		}
	});
});
</script>
</head>
<body>
입고리스트<br />
<div id="list"></div>
</body>
</html>