<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardExample.mapper.BoardMapper">
<insert id="boardInsert" parameterType="board">
insert into board(WRITER,SUBJECT, CONTENTs)
values(#{writer},#{subject},#{contents})
</insert>

<select id="selectAll" resultType="board">
select num, WRITER, SUBJECT, CONTENTs
from board
order by num desc
</select>
<select id="selectOne" parameterType="integer" resultType="board">
select num, WRITER, SUBJECT, CONTENTs
from board
where num = #{num}
order by num desc
</select>
<update id="boardUpdate" parameterType="board">
update board
set WRITER = #{writer},
	SUBJECT = #{subject},
	CONTENTS = #{contents}
where num = #{num}
</update>
<delete id="boardDel" parameterType="integer">
delete from board
where num = #{boardNum}
</delete>
</mapper>










