<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardExample.mapper.BoardMapper">
<insert id="boardInsert" parameterType="board">
insert into board(WRITER,SUBJECT, CONTENTs) 
values(#{boardWriter},#{boardSubject},#{boardContent})
</insert>
<select id="selectAll" resultType="board">
select num boardNum, writer boardWriter ,subject boardSubject ,contents  boardContent
from board  
order by num desc
</select>
<select id="selectOne" resultType="board"  parameterType="integer">
select num boardNum, writer boardWriter ,subject boardSubject ,contents  boardContent
from board  
where NUM = #{num}
</select>
<update id="boardUpdate" parameterType="board">
update board
set WRITER = #{boardWriter} , SUBJECT = #{boardSubject}
  , CONTENTS = #{boardContent}
where num =  #{boardNum}
</update>
<delete id="boardDel" parameterType="integer">
delete from board where num =  #{num}
</delete>
</mapper>








