<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	회원 상세정보
	<br /> 회원번호 : [[${memberCommand.memberNum}]]
	<br /> 이름 : [[${memberCommand.memberName}]]
	<br /> 아이디 : [[${memberCommand.memberId}]]
	<br /> 주소 : [[${memberCommand.memberAddr}]]
	<br /> 상세주소 : [[${memberCommand.memberAddr2}]]
	<br /> 우편번호 : [[${memberCommand.memberPost}]]
	<br /> 연락처1 : [[${memberCommand.memberPhone1}]]
	<br /> 연락처2 : [[${memberCommand.memberPhone2}]]
	<br /> 성별 :
	<span th:if="${memberCommand.memberGender=='M'}" th:text="남자"></span>
	<span th:if="${memberCommand.memberGender=='F'}">여자</span>
	<br /> 등록일 : [[${#dates.format(memberCommand.memberRegiDate,'yyyy-MM-dd')}]]
	<br /> 생년월일 : [[${#dates.format(memberCommand.memberBirth,'yyyy-MM-dd')}]]
	<br /> 이메일 : [[${memberCommand.memberEmail}]]
	<br />
	<a th:href="|memberUpdate/${memberCommand.memberNum}|">회원 수정</a> |
	<a th:href="@{memberdelete(memberNum=${memberCommand.memberNum})}">회원 강제 탈퇴</a> |
	<a th:href="memberList">회원목록</a>
</body>
</html>