<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
회원등록 페이지입니다.<br />
<form action="memberRegist" method="post" >
회원번호 : <input type="text" name="memberNum" /><br />
회원아이디 : <input type="text" name="memberId" id="memberId" /><br />
회원비밀번호 : <input type="password" name="memberPw"/> <br />
회원비밀번호 확인 :  <input type="password" name="memberPwCon"/><br />
회원이름 : <input type="text" name="memberName" /><br />
회원주소 : <input type="text" name="memberAddr" id="sample4_roadAddress" /><br />
회원상세주소 : <input type="text" name="memberAddr2" /><br />
우편번호 :  <input type="text" name="memberPost" id="sample4_postcode" /><br />
성별 : <input type="radio" name="memberGender" value="M" />남자
	  <input type="radio" name="memberGender" value="F" />여자<br />
연락처1 : <input type="tel" name="memberPhone1" /> <br />
연락처2 : <input type="tel" name="memberPhone2" /><br />
이메일 : <input type="email" name="memberEmail" id="memberEmail" /><br />
생년월일 : <input type="date" name="memberBirth"  /><br />
<input type="submit" value="회원등록" />
</form>
</body>
</html>