<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="reviewWrite" method="post" >
<input type="hidden" name="goodsNum" th:value="${goodsNum}" />
<input type="hidden" name="purchaseNum" th:value="${purchaseNum}" />
<table align="center" width="600">
	<tr><td>리뷰작성</td>
	    <td><textarea rows="5" cols="30" name="reviewContent"></textarea></td>
	</tr>
	<tr><td colspan="2"><input type="submit" value="리뷰등록" /></td></tr>		
</table>
</form>
<table align="center" width="600">
<caption>상품 상세보기</caption>
<tr><th width="150">상품번호</th><td>[[${goodsCommand.goodsNum }]]</td></tr>
<tr><th>상품명</th><td>[[${goodsCommand.goodsName }]]</td></tr>
<tr><th>상품가격</th><td>[[${goodsCommand.goodsPrice }]]</td></tr>
<tr><th>배송비</th><td>[[${goodsCommand.deliveryCost }]]</td></tr>
<tr><th>상품설명</th><td>
<span th:utext="${#strings.replace(goodsCommand.goodsContent,newLine,'&lt;br /&gt;')}"></span>
</td></tr>
<tr><th>조회수</th><td>[[${goodsCommand.visitCount }]]</td></tr>
<tr><td colspan="2">
	<img th:src="|/static/upload/${goodsCommand.goodsMainStore }|" />
</td></tr>
<tr><td colspan="2">
	<th:block th:each="goodsImage : ${#strings.arraySplit(goodsCommand.goodsImages,'-') }">
	<img th:src="|/static/upload/${goodsImage}|" /><br />
	</th:block>
</td></tr>
</table>
</body>
</html>