<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCShopping.mapper.LoginMapper">
<select id="selectIdCheck" parameterType="string" resultType="string">
select member_id from members
where member_id = #{userId}
union
select emp_id from employees
where emp_id = #{userId}
</select>
<select id="selectEmailCheck" parameterType="string" resultType="string">
select member_email from members
where member_email = #{userEmail}
union
select emp_email from employees
where emp_email = #{userEmail}
</select>
</mapper>