<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCShopping.mapper.MemberMapper">
<select id="memberAutoNum" resultType="string">
select concat('mem', coalesce(max(substring(member_num,4)::integer),100000) + 1)
from members;
</select>
<insert id="memberInsert" parameterType="mem">
	insert into members(member_num,member_id,member_pw,member_name,member_addr
					,member_addr_detail,member_post,member_phone1,member_phone2
					,member_regist,member_birth,gender,member_email
					,member_email_conf,point)
	values(#{memberNum},#{memberId},#{memberPw},#{memberName}
		  ,#{memberAddr},#{memberAddrDetail},#{memberPost},#{memberPhone1}
		  ,#{memberPhone2},now(),#{memberBirth},#{gender},#{memberEmail},null,0);
</insert>
<select id="selectAll" resultType="mem" parameterType="string">
select member_num memberNum,member_id memberId,member_pw memberPw
	  ,member_name memberName,member_addr memberAddr
	  ,member_addr_detail memberAddrDetail,member_post memberPost
	  ,member_phone1 memberPhone1,member_phone2 memberPhone2
	  ,member_regist memberRegistDate ,member_birth memberBirth
	  ,member_email memberEmail ,member_email_conf memberEmailConf
	  ,point ,gender
from members
<if test="searchWord != null">
where MEMBER_NAME like '%' || #{searchWord} || '%'
   or member_id like '%' || #{searchWord} || '%'
   or member_num like '%' || #{searchWord} || '%'
</if>
</select>
<delete id="membersDelete" parameterType="string">
delete from members
where member_num in
	<foreach collection="membersNum" item="memberNum" open="(" close=")" 
		index="index" separator=",">
		#{memberNum}
	</foreach>
</delete>













</mapper>