<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCShopping.mapper.MemberMyMapper">
<update id="memberPwUpdate" >
	update members
	set member_pw = #{arg0}
	where member_id = #{arg1}
</update>
<sql id="memberColumnsBase">
	   member_num memberNum,member_id memberId,member_pw memberPw
	  ,member_name memberName,member_addr memberAddr
	  ,member_addr_detail memberAddrDetail,member_post memberPost
	  ,member_phone1 memberPhone1,member_phone2 memberPhone2
	  ,member_regist memberRegistDate ,member_birth memberBirth
	  ,member_email memberEmail ,member_email_conf memberEmailConf
	  ,point ,gender
</sql>
<select id="memberInfo" parameterType="string" resultType="mem">
select <include refid="memberColumnsBase" />
from members 
where member_id = #{memberId} 
</select>
</mapper>