<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:if="${session.auth != null}"  >
<ul>
	<th:block th:if="${session.auth.grade == 'emp'}"  >
		<li><a href="employee/employeeList">직원 목록</a></li>
		<li><a href="member/memberList">회원목록</a></li>
		<li><a href="employee/empMyPage">마이페이지</a></li>
		<li><a href="goods/goodsList">상품리스트</a></li>
		<li><a href="/purchase/purchaseList">주문 내역</a></li>
		<li><a href="/inquire/goodsQuestion">상품 문의</a></li>
	</th:block>
	<th:block th:if="${session.auth.grade == 'mem'}"  >
		<li><a href="/mypage/myDetail">내정보 보기</a></li>
		<li><a href="/corner/wishList">관심 목록</a></li>
		<li><a href="/corner/cartList" >장바구니</a></li>
		<li><a href="/purchase/orderList" >주문목록</a></li>
	</th:block>
	<li><a href="login/logout">로그아웃</a></li>
</ul>
</div>
<div th:if="${session.auth == null}">
<form action="/login/login" method="post" th:object="${loginCommand}" >
	<table border="1" align="center">
		<tr><td colspan="2"></td></tr>
		<tr><td><input type="text" name="userId" placeholder="아이디" 
												th:value="${loginCommand.userId}" /><br />
				<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" ></span></td>
			<td rowspan="2">
				<input type="image" src="/static/images/sbmt.png" width="60">
			</td></tr>
		<tr><td><input type="password" name="userPw" placeholder="비밀번호" 
												th:value="${loginCommand.userPw}" /><br />
			<span th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}" ></span></td></tr>
		<tr><td colspan="2"><a href="/register/userAgree">회원가입</a> | 
							<a href="/help/findId">아이디 찾기</a> | 
							<a href="/help/findPassword">비밀번호 찾기</a></td></tr>
	</table>
</form>
</div>
<table align="center" width="600">
	<tr>
		<th:block th:each=" dto, idx : ${list}">
		<td><a th:href="|corner/detailView/${dto.goodsNum}|">
			<img th:src="|/static/upload/${dto.goodsMainStore}|" /><br />
			[[${dto.goodsName}]]<br />
			[[${dto.goodsPrice}]]<br />
			<span th:if="${dto.deliveryCost == 0}" >무료배송</span>
			<span th:if="${dto.deliveryCost != 0}" th:text="${dto.deliveryCost}"></span>
			</a>
		</td>
			<th:block th:if="${idx.count % 3 == 0}" th:utext="'</tr><tr>'" />
		</th:block>
	</tr>
</table>
















</body>
</html>