<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<ul>
	<li><a href="employee/employeeList">직원 목록</a></li>
	<li><a href="member/memberList">회원목록</a></li>
</ul>
	<table border="1" align="center">
		<tr><td colspan="2"></td></tr>
		<tr><td><input type="text" placeholder="아이디" /></td>
			<td rowspan="2">
				<input type="image" src="/static/images/sbmt.png" width="60">
			</td></tr>
		<tr><td><input type="password" placeholder="비밀번호" /></td></tr>
		<tr><td colspan="2"><a href="/register/userAgree">회원가입</a></td></tr>
	</table>
</body>
</html>