<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
상세보기 <br />
상품명  : [[${list[0].goodsName}]] <br />
상품번호 : [[${list[0].goodsNum}]] <br />
종류 : [[${list[0].inquireKind}]] <br />
제목 : [[${list[0].inquireSubject}]] <br />
내용 : <span th:utext="${#strings.replace(list[0].inquireContent,newLineChar,'&lt;br /&gt;')}"></span><br />
작성자 : [[${list[0].memberId}]] <br />
작성일 : [[${#dates.format(list[0].inquireDate,'yyyy-MM-dd')}]] <br />
<h2>답변</h2>
<form action="../answerWrite" method="post">
<input type="hidden" name="inquireSubject" th:value="${list[0].inquireSubject}">
<input type="hidden" name="inquireNum" th:value="${list[0].inquireNum}">
<input type="hidden" name="memberNum" th:value="${list[0].memberNum}">
<textarea rows="10" cols="50" name="inquireAnswer">[[${list[0].inquireAnswer}]]</textarea>
<input type="submit" value="답변 등록">
</form>
</body>
</html>